*{
box-sizing: border-box;
margin: 0;
padding: 0;

}

.calculator-grid{
    padding: 20px;
    width: 500px;
    height: 840px;
    background-color: #050505;
    border-radius: 50px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (5, 1fr);
}

/* .body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.output{
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 60px;
    flex-direction: column;
    justify-content: space-evenly;
}

.data{
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.span-two{
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    text-align: left;
    font-size: 45px;
    background-color: #333;
    color: white;
}

.operation1{
    color: black;
    background-color: #a5a5a5;
}

.operation{
    color: white;
    background-color: #f1a33c;
}

.number{
    color: white;
    background-color: #333;
}

.data:hover{
    opacity: 0.5;
}
.span-two:hover{
    opacity: 0.5;
}